In [1]:
import pandas as pd
import sqlite3 as sql
import numpy as np

In [2]:
sql.sqlite_version

'3.39.3'

In [3]:
database = "earth_quake_damage.db"
con = sql.connect(database)

In [4]:
query = '''SELECT * FROM NepalEarhquakeDamage2015 WHERE district_id == 12'''

In [5]:
df = pd.read_sql_query(query, con)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39352 entries, 0 to 39351
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   building_id             39352 non-null  float64
 1   district_id             39352 non-null  int64
 2   count_floors_pre_eq     39352 non-null  int64
 3   count_floors_post_eq    39352 non-null  int64
 4   age_building            39352 non-null  int64
 5   plinth_area_sq_ft       39352 non-null  int64
 6   height_ft_pre_eq        39352 non-null  int64
 7   height_ft_post_eq       39352 non-null  int64
 8   land_surface_condition  39352 non-null  object
 9   foundation_type         39352 non-null  object
 10  roof_type               39352 non-null  object
 11  ground_floor_type       39352 non-null  object
 12  other_floor_type        39352 non-null  object
 13  position                39352 non-null  object
 14  plan_configuration      39352 non-null  object
 15  condition_post_eq       39352 non-null  object
 16  damage_grade            39352 non-null  object
dtypes: float64(1), int64(7), object(9)
memory usage: 5.1+ MB
None

,building_id,district_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,condition_post_eq,damage_grade
0,1.201010e+11,12,1,1,9,288,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Used in risk,Grade 3
1,1.201010e+11,12,1,1,15,364,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Repaired and used,Grade 5
2,1.201010e+11,12,1,1,20,384,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Repaired and used,Grade 2
3,1.201010e+11,12,1,1,20,312,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Repaired and used,Grade 2
4,1.201010e+11,12,1,1,30,308,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Repaired and used,Grade 1

In [106]:
df["building_ids"] = np.ceil(df["building_id"] / 1e6)
df.head()

,building_id,district_id,count_floors_pre_eq,count_floors_post_eq,age_building,plinth_area_sq_ft,height_ft_pre_eq,height_ft_post_eq,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,condition_post_eq,damage_grade,build,building_ids
0,1.201010e+11,12,1,1,9,288,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Used in risk,Grade 3,120102.0,120102.0
1,1.201010e+11,12,1,1,15,364,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Repaired and used,Grade 5,120102.0,120102.0
2,1.201010e+11,12,1,1,20,384,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Repaired and used,Grade 2,120102.0,120102.0
3,1.201010e+11,12,1,1,20,312,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Repaired and used,Grade 2,120102.0,120102.0
4,1.201010e+11,12,1,1,30,308,9,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,Damaged-Repaired and used,Grade 1,120102.0,120102.0

In [53]:
df["district_id"].unique()

array([12, 20, 21, 22, 23, 24, 28, 29, 30, 31, 36], dtype=int64)

In [71]:
mask = df["district_id"] == 24
df[mask].shape

(98019, 17)